:root {
    --background: #ffffff;
    --text: #000000;
    --accent: rgb(158, 0, 0);
    --link: rgb(158, 0, 0);
}

html {
    background-color: var(--background);
    color: var(--text);
    font-family: monospace;
    font-size: 1rem;
    line-height: 24px;

    display: grid;
    grid-template-columns: 1fr min(45rem, 90%) 1fr;
}


#desc {
    font-size: 1.6em;
    margin-top: 50px;
    margin-bottom: 50px;
}

body {

    padding: 10px;
    grid-column: 2;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 10px;
}


@media screen and (max-width: 46rem) {
    header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

span {
    font-weight: bold;
}


header img {
    width: 100%;
}

header div {
    justify-self: center;
    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


a,
a:visited {
    color: var(--link);
    border-radius: .125rem;
}

a:hover {
    color: var(--background);
    background-color: var(--link);
}

ul li::marker {
    content: ">> ";
    color: var(--accent);
}

h1 {
    font-size: 2rem;
}

h2::before {
    color: var(--accent);
    content: "* ";
}
h3::before {
    color: var(--accent);
    content: "** ";
}

h2 {
    font-size: 1.75rem;
    line-height: 1.1;
}

h3 {
    font-size: 1.50rem;
    line-height: 1.1;
}